<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../css/aboutus.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/header.css">
</head>

<body>
    <header>
        <ul>
            <li><a href="/Programming/Template/webpages/main.html">Home</a></li>
            <li><a href="/Programming/Template/webpages/aboutus.html">About Us</a></li>
            <li><a href="/Programming/Template/webpages/contact.html">Contact</a></li>
            <button class="buttonlogin" onclick=signinclick()>
                <li class="butlog">Login</li>
            </button>
            <button class="signupbutton" onclick=signupclick()>
                <li class="signupli">Sign up</li>
            </button>
        </ul>
    </header>
    <div class="titlepage">
        <p class="title">About Us</p>
    </div>
    <div class="bodymain">
        <div class="tejas peoplebox">
            <p class="peopletitle">Tejas
                <hr>
            </p>
            <div class="tejascontent">
                <img src="/images/TejasImage.jpg" alt="">
                <p>
                    Hey! I am Tejas, an innovative sophmore with a passion in programming and technology.
                    I strive to become a perfessional in the field of computer science and become an Aerospace
                    engineer. In my free time I enjoy playing the guitar, learning new things, and playing videogames!
                </p>
            </div>
        </div>
        <div class="jai peoplebox">
            <p class="peopletitle">Jai
                <hr>
            </p>
        </div class="jaicontent">
            <!--<img src="" alt="">-->
            <p>
                I'm Jai and I'm not gay, that is all that matters.
        <div class="sohan peoplebox">
            <p class="peopletitle">Sohan</p>
        </div>
    </div>
    <footer class="bottomfooter">
        <div>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
                integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
                crossorigin="anonymous" referrerpolicy="no-referrer" />

            <div class="linkscontainer">
                <span><a href="https://www.twitter.com" class="links"><i class="fab fa-twitter"></i></a></span>
                <span><a href="https://www.facebook.com" class="links"><i class="fab fa-facebook-f"></i></a></span>
                <span><a href="https://www.youtube.com" class="links"><i class="fab fa-youtube"></i></a></span>
                <span><a href="https://www.instagram.com" class="links"><i class="fab fa-instagram"></i></a></span>
            </div>
        </div>
    </footer>
</body>

<script src="../scripts/main.js"></script>

</html>